pre {
font-weight: bold;
font-family: "DejaVu Sans Mono", monospaced;
font-size: .9em;
}

tt {
font-weight: bold;
font-family: "DejaVu Sans Mono", monospaced;
}


div.kurt ul li {
  line-height: 125%;
}

div.align-center {
text-align: center;
} 

div.body ul.simple li,  div.body ol.simple li {
 /*text-align: left;*/
 margin-bottom: .4em; /* This increases space between list items */
}

.custom-figure {
	text-align: center;
	margin-top: 2.2em;
	font-weight: bold;
}


.kurt-code {
	font-weight: bold;
	font-family: 'DejaVu Sans Mono', monospace;
}

table.bold-caption caption {

	font-weight: bold;
}
/*
table.general-table-style, table.general-table-style td, table.general-table-style th {
	border-collapse: collapse;
    border: 2px solid #000080; 
}
*/
table.general-table-style {
/*  margin-bottom: 2em;*/
}

table.general-table-style th {

	border-bottom-width: 1px;

    font-size: 1.1em;
	padding: .75em .66em .22em; /* top right/left bottom */
}

table.general-table-style td {

	padding: .75em .66em .1em; /* top right/left bottom */
} 

table.raw-html-kurt td {
  padding-top: .5em;
  padding-bottom: .10em;
}
table.raw-html-kurt td code {
	font-weight: bold;
    font-family: 'DejaVu Sans Mono', monospace;
}

.black-img-border img {
	padding: 10px;
	border: solid;
	border-color: black;
    border-width: 1px;
}
